# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Android
local.properties
*.apk
*.aab
*.ap_
*.dex
captures/
.externalNativeBuild/
.cxx/

# Kotlin
*.class
*.jar
*.war
*.ear

# OS
.DS_Store
Thumbs.db
*.swp
*~

# Logs
*.log
*.7z
sourse/
